.contest-list
  display: flex
  flex-direction: row
  flex-wrap: warp
  flex-basis: 300px
  width: 1000px
  .add-contest-card
    flex-shrink: 0
    flex-basis: 300px
    // width: 300px
    height: 160px
    display: flex
    align-items: center
    justify-content: center
  .common-card
    flex-shrink: 0
    flex-basis: 300px
    // width: 300px
    height: 160px
