.contest-list-wrapper
  padding: 24px
  display: flex
  flex-direction: column
  align-items: center
  .contest-list
    display: flex
    flex: auto
    flex-direction: row
    flex-wrap: wrap
    justify-content: flex-start
    @media screen and (min-width: 1200px)
      padding: 0 10%
    @media screen and (max-width: 1200px)
      padding: 0 5%
    @media screen and (max-width: 576px)
      padding: auto
    .common-card
      height: 174px
      @media screen and (min-width: 1200px)
        width: 22%
        margin: 1.5%
      @media screen and (max-width: 1200px)
        width: 29.33%
        margin: 2%
      @media screen and (max-width: 576px)
        width: 100%
        margin: 12px 0
      .semi-card-header-wrapper
        display: flex
        align-items: center
      .card-description
        display: -webkit-box
        overflow: hidden
        -webkit-box-orient: vertical
        text-overflow: -o-ellipsis-lastline
        text-overflow: ellipsis
        word-break: normal
        -webkit-line-clamp: 3
