.header-content
  height: 60px
  overflow: hidden
  background-color: var(--semi-color-bg-1)
  border-bottom: 1px solid var(--semi-color-border)
  .sast-logo-wrapper
    display: flex
    justify-content: left
    padding-left: 16px
    .sast-logo
      height: 44px
      margin-top: 8px
      margin-bottom: 8px
  .title-wrapper
    display: flex
    justify-content: center
    align-items: center
  .logout-wrapper
    display: flex
    justify-content: right
    align-items: center
