a:link, a:hover, a:active, a:visited {
  color: var(--semi-color-text-2);
  text-decoration: none;
}

.footer-link {
  display: flex;
  flex-direction: row;
}

.footer-icon {
  padding: 3px;
  margin-right: 5px;
}