a:link, a:hover, a:active, a:visited {
  color: var(--semi-color-text-2);
  text-decoration: none;
}

.footer-title {
  font-size: 20px;
}

.footer-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-icon {
  margin-right: 5px;
}